{ % extends "base.html" % }
{ % block title % }Comidas - minhas receitas{ % endblock % }

{ % block content % }
<h2 class="text-2xl font-bold mb-6">Receitas de Comidas</h2>
<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="bg-gray-100 p-4 rounded-lg shadow hover:shadow-lg transition">
        <img src="{ % static 'images/comida1.jpg' % }" alt="Comida 1" class="rounded-lg mb-4">
        <h3 class="text-lg font-semibold">Uma receita deliciosa para toda a familia</h3>
    </div>

    <div class="bg-gray-100 p-4 rounded-lg shadow hover:shadow-lg transition">
        <img src="{ % static 'images/comida2.jpg' % }" alt="Comida 2" class="rounded-lg mb-4">
        <h3 class="text-lg font-semibold">Uma receita deliciosa para toda a familia</h3>
    </div>

    <div class="bg-gray-100 p-4 rounded-lg shadow hover:shadow-lg transition">
        <img src="{ % static 'images/comida3.jpg' % }" alt="Comida 3" class="rounded-lg mb-4">
        <h3 class="text-lg font-semibold">Uma receita deliciosa para toda a familia</h3>
    </div>

    <div class="bg-gray-100 p-4 rounded-lg shadow hover:shadow-lg transition">
        <img src="{ % static 'images/comida3.jpg' % }" alt="Comida 4" class="rounded-lg mb-4">
        <h3 class="text-lg font-semibold">Uma receita deliciosa para toda a familia</h3>
    </div>

    <div class="bg-gray-100 p-4 rounded-lg shadow hover:shadow-lg transition">
        <img src="{ % static 'images/comida3.jpg' % }" alt="Comida 5" class="rounded-lg mb-4">
        <h3 class="text-lg font-semibold">Uma receita deliciosa para toda a familia</h3>
    </div>

    <div class="bg-gray-100 p-4 rounded-lg shadow hover:shadow-lg transition">
        <img src="{ % static 'images/comida3.jpg' % }" alt="Comida 6" class="rounded-lg mb-4">
        <h3 class="text-lg font-semibold">Uma receita deliciosa para toda a familia</h3>
    </div>

    <div class="bg-gray-100 p-4 rounded-lg shadow hover:shadow-lg transition">
        <img src="{ % static 'images/comida3.jpg' % }" alt="Comida 7" class="rounded-lg mb-4">
        <h3 class="text-lg font-semibold">Uma receita deliciosa para toda a familia</h3>
    </div>

</div>
{% endblock %}